body{
  margin: 0;
  background-color:#d6eaec;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow:auto;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 10px;

  display: grid;

  grid-template-columns: repeat(100, 1fr) ;
  grid-template-rows: repeat(100, 1fr); /* grid-template: 50px 1fr 1fr 100px / repeat(3, 1fr) */
  gap: 0px;

  padding: 0px;
  box-sizing: border-box;
}
.header{
  /*font-family: 'Quicksand', sans-serif;*/ /*overflow:auto;*/
  padding: 0px;
  box-sizing: border-box;

  grid-row: 1 / 20;
  grid-column: 1 / span 100;

  color: #00abfa;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 7.2vw;
  -webkit-text-stroke: 1px rgb(107, 74, 60); /*border font*/
  text-align: justify;
  text-decoration:solid;
  text-decoration: underline;

  text-align: center;
  word-wrap: break-word;
  line-height: 1.35em;

  /*animation: slidein 0.5s linear;*/
}

.player1Box {
  position:relative;
  grid-column: 16 / span 23;
  grid-row: 22 / span 68;
  border: 0px solid #003049;
}
.menuBox {
  grid-column: 41 / span 19;
  grid-row: 30 / 85;
  border: 0px solid #ffffff;
}
.player2Box {
  position:relative;
  grid-column: 62 / span 23;
  grid-row: 22 / span 68;
  border: 0px solid #4289af;
}

.footer{
  text-align:start;
  line-height: 1.4em;
  text-align: center;

  font-family: 'Press Start 2P', cursive;
  font-size: 1.8vw;
  letter-spacing: normal;

  color: #003049;;
  background-color: #fcbf49;
  grid-column: 1 / 101;  /* means column start 3 colum end 4 */
  grid-row: 105;

  border: 0px solid #003049;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.startButton {

  border: 0px;
  background: none;
  
  font-size: 3.5vw;
  font-weight: bold;

  font-family: 'Press Start 2P', cursive;
  color: #003049;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;

  border-radius: 20px;
  border: 5px solid #80ffc0; /* Green */
  margin-bottom: 4vw;
  
}

.startButton:hover{
  background-color: #80ffc0;
  font-size: 3.54vw;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#settingsButton {

  margin-bottom: 0vw;
  background-color: transparent;
  border: 0px;
  width: 100%;
  text-align:center;
}

#instructionsButton {

  border: 0px;
  background: none;
  
  font-size: 1.5vw;
  font-weight: bold;

  font-family: 'Press Start 2P', cursive;
  color: #051b27;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;

  border-radius: 40px;
  border: 5px solid #ff7300; /* Green */
  margin-top: 4vw;
  
}

#instructionsButton:hover{
  background-color: #ff7300;
  font-size: 1.51vw;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

p { margin: 0vw }

img {
  width: 100%;
  height: 100%;
}

.material-icons { 
  font-size: 13vw;
  color: #aac9dd; 
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  transition-duration: 0.4s;
}

.material-icons:hover { 
  font-size: 14vw;

  color: #0f90e6; 
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  cursor: pointer;

}

.Instructions {
  animation: fadeIn 1s linear, float 6s ease-in-out infinite;
    display: none;
  grid-column: 40 / span 21;
  grid-row: 30 / 85;
  border: 10px solid #ffffff;
  background-color: #ff7300;
  font-size: 3.7vh;
  word-wrap: break-word;
  overflow: auto;
}
#settingsHeader {
  text-align: center;
   font-size: 3vw; 
   color: rgb(250, 243, 232); 
   margin-left: 5.2vw; 
   line-height: 6vw;
   grid-column: 1 / span 100; 
   grid-row: 1 / span 30;
}
.Settings {
  grid-template-columns: repeat(100, 1fr) ;
  grid-template-rows: repeat(100, 1fr);

  animation: fadeIn 1s linear, float 6s ease-in-out infinite;
  display: none;
  grid-column: 30 / span 40;
  grid-row: 25 / 90;
  border: 20px solid #ffffff;
  background-color: #337ed3;
  font-size: 3.7vh;
  word-wrap: break-word;
  overflow: auto;
}
.speedOptions {
  grid-column: 1 / span 100;
  grid-row: 20/ span 30;

}
.speedOptionsButtons {
  
  padding: 0px;
  font-size: 2vw;
  font-weight: bold;
  width: 26%;
  height: 40%;
  font-family: 'Press Start 2P', cursive;
  color: #051b27;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;

  background-color:#d6eaec;

  border-radius: 40px;
  border: 5px solid #ff7300; /* Green */
  margin-top: 1vw;
}
.speedOptionsButtons:hover {
  cursor: pointer;
  background-color: #cc7401; 
}
 
.closeSettings {
  grid-column: 15 / 95;
  grid-row: 75 / span 20;
}
.closeSettingsButton {

  padding: 0px;
  font-size: 2vw;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  color: #051b27;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;

  background-color:#d6eaec;
  
  border-radius: 40px;
  border: 5px solid #ff7300; /* Green */
  margin-top: 1vw;
}
.closeSettingsButton:hover {
  cursor: pointer;
  background-color: #cc7401; 
}



#leftMenuArrows {
  grid-column: 19 / span 20;
  grid-row: 90 / span 10;
  background-color: transparent;
  margin-left: 1.2vw;
}
#rightMenuArrows {
  grid-column: 65 / span 20;
  grid-row: 90 / span 10;
  background-color: transparent;
  margin-left: 1.4vw;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}